/* contact */

.contact {
    display: block;
    margin: 0 auto;
    width: 75%;
    box-shadow: var(--bs);
    background: var(--clr-dark);
    padding: 1rem;
    color: var(--clr-light);
    font-size: var(--fs-h3);
}

.contact-input {
    width: 80%;
    padding: .5rem;
}

textarea {
    width: 80%;
    height: 10rem;
    resize: none;
}

.center-elements {
    text-align: center;
    padding: .5rem;
}

.contact-btn {
    background: var(--clr-accent);
    color: var(--clr-light);
    padding: .5rem 1rem;
}